<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
		 bootstrap="vendor/autoload.php"
		 colors="true"
		 cacheDirectory=".phpunit.cache"
		 failOnWarning="true"
		 failOnDeprecation="true"
		 displayDetailsOnTestsThatTriggerDeprecations="true">
	<php>
		<!-- Integration tests run against this database. Override it to test MySQL / MariaDB, e.g.
			 DATABASE_URL="mysql://root:root@127.0.0.1:3306/doctopus?serverVersion=8.4" -->
		<env name="DATABASE_URL" value="sqlite:///:memory:" force="false"/>
	</php>
	<testsuites>
		<testsuite name="unit">
			<directory>tests/Unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory>tests/Integration</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
</phpunit>
